<div class="tools">
    <div class="circle">
        <span class="red box"></span>
    </div>
    <div class="circle">
        <span class="yellow box"></span>
    </div>
    <div class="circle">
        <span class="green box"></span>
    </div>
</div>
<div class="card">
    <div class="card__content">
        <app-primeiroComponente></app-primeiroComponente>
        <br>
        <app-segundo-componente></app-segundo-componente>
        <br>
        <app-pipe-customizado></app-pipe-customizado>
        <br>
        <app-two-way></app-two-way>
        <br>
        <app-renderizando-listas></app-renderizando-listas>
        <br>
        <app-componente-personalizado nome="fernando" sobrenome="alves"></app-componente-personalizado>
        <br>
        <app-componente-personalizado nome="anonimo" sobrenome="chuta"></app-componente-personalizado>
        <br>
        <app-componente-pai></app-componente-pai>
        <br>
        <app-exemplo-servicos1></app-exemplo-servicos1>
        <br>
        <app-exemplo-servicos2></app-exemplo-servicos2>
        <br>
        <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
        <br>
    </div>
</div>